body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#citiesList, #world {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

#citiesList article {
  width: 16rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cities h3 {
  text-transform: uppercase;
}

#world article {
  width: 32rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#world article hgroup, button {text-transform: uppercase !important;}
