body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{margin-top: 2rem; !important;}

#citiesList, #worldList {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

#citiesList article {
  width: 32%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cities h3, h1, h2 {
  text-transform: uppercase;
}

#world article {
  width: 27rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#world article hgroup, button {text-transform: uppercase !important;}
